h1{
    color: green;
}

h2{
    color:blue
}

#instructions-header{
    font-style:italic;
}

.biglink{
    font-size: 20px;
}

body{
    background-color:azure;
    text-align: center;
}

ul{
    display: inline-block;
    text-align: left;
}

ol{
    display: inline-block;
    text-align: left;
}

.bold{
    font-weight: bold;
}